<div class="Searchbg text-center">
<h1>Find the best resources and start coding today</h1>
<p>Select what and how you want to learn, and read what fellow programmers think of the resources available.</p>
        
    <form class="formWidth">
            <md-select class="selectWidth" placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                <md-option *ngFor="let food of foods" [value]="food.value">
                     {{food.viewValue}}
                </md-option>
            </md-select>
     <p> Selected value: {{selectedValue}} </p>
    </form>
</div>
   
   